body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #0d0d0d; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),  
      rgba(0, 0, 0, 0.6)
    )
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #111;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}
.navbar .logo {
    color: #1f6feb;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav-links a {
    color: #ccc;
    text-decoration: none;
}
.nav-links a:hover {
    color: #1f6feb;
}
.menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
}
.perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1f6feb;
    margin-bottom: 20px;
}
.german {
    margin: 20px 100px 20px 100px;
    text-align: center;
    padding: 20px 100px;
    scroll-margin-top: 80px;
}
.german-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px;
}
.german-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container2{
    margin: 20px 100px;
    padding: 10px 200px;
    text-align: center;
    scroll-margin-top: 80px;   
}
.container3{
    margin: 20px 100px;
    padding: 10px 30px;
    text-align: center;
    scroll-margin-top: 80px;
    justify-content: center;
}
.container4{
    margin: 20px 100px;
    padding: 40px 20px;
    text-align: center;
    scroll-margin-top: 80px;
}
.container5{
    margin: 20px 100px;
    padding: 10px 100px;
    scroll-margin-top: 80px;
}
.texto {
  line-height: 2.5;
}
.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.btn-primary {
    background-color: #191970;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
    background-color: #1f6feb;
}
.btn-secondary {
    background-color: #191970;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btn-secondary:hover {
    background-color: #1f6feb;
}
.btnContacto {
    padding: 12px 20px;
    background-color: #222;
    border: 1px solid #191970;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn-cv {
    padding: 12px 20px;
    background-color: #222;
    border: 1px solid #191970;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn-cv:hover {
    background-color: #191970;
    color: white;
}
.seccion {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    line-height: 2.5;
}
.seccion h2 {
    border-left: 4px solid #191970;
    padding-left: 10px;
    margin-bottom: 20px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px 10px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: 15px
}

.skill {
    min-height: 100px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;  
    text-align: center;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    padding: 10px 0 0 0;
    border-radius: 8px;
    border: 1px solid #222;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.skill i {
    font-size: 100px;
    color: #1f6feb;
    text-align: center;
    justify-content: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 12px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.card img {
  width: 100%;        
  max-height: 180px;  
  object-fit: cover;  
  border-radius: 10px;
}
.card-image {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
}

.card-image:hover img {
  transform: scale(1.1);
}

.card-image:hover .card-overlay {
  opacity: 1;
}
.card-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 15px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-color: #191970;
}
.form input,
.form textarea {
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #e0e0e0;
    border-radius: 5px;
    width: 450px;
    border-color: #191970;
    background-color: rgba(0, 0, 0, 0.6);
}
.form input:hover,
.form textarea:hover {
    border-color: #1f6feb;
}
.form button {
    padding: 12px;
    background-color: #191970;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 120px
}
.form button:hover {
    background-color: #1f6feb;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  background-color: #25d366;
  color: #fff;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  text-decoration: none;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #777;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 10px;
}

.social-links a {
  color: #e0e0e0;
  font-size: 28px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
  color: #00bcd4;
}
